# OpenAI
OPENAI_API_KEY=sk-proj-

# Tavily (Web Search)
TAVILY_API_KEY=tvly-dev-

# MongoDB
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/knowflux
MONGODB_DB_NAME=knowflux

# Redis
REDIS_URL=redis://localhost:6379

# FAISS
FAISS_INDEX_PATH=./data/faiss_index

# App
APP_ENV=development
APP_PORT=8000
CORS_ORIGINS=http://localhost:3000
